.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 2vh;

  .dashboard-header {
    display: flex;
    justify-content: start;
    padding: 2vh 2vw;
  }
}

.dashboard-content {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.dashboard-image {
  width: 100%;
  height: 47vh;
  background-image: url("../../assets/dashboard-img.jpg");
  background-size: 100% 200%;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  margin-top: 10vh;
}

@media (min-width: 768px) {
  .dashboard-content {
    display: flex;
    flex-direction: row;

    .dashboard-image {
      height: 90vh;
      width: 40%;
      background-size: 100%;
    }
  }

  .dashboard-buttons {
    align-items: center;
  }
}
