.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.login-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.login-container .login-input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  border: 3px solid #3533cd;
  border-radius: 10px;
  .MuiInputLabel-root {
    color: white !important;
  }
  .MuiInputBase-input {
    color: white !important;
  }
}

.login-container .button {
  margin-top: 25px;
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
}

.login-info {
  margin-top: 25px;
  color: #b2cfdc;
}
