.results-container {
  padding: 20px;
}

.results-list {
  display: flex;
  flex-direction: column;
}

.result-item {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  p {
    padding-left: 10px;
  }
}

.result-info {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 500px;
  margin-right: 10px;
  padding: 3px;

  &:hover {
    background-color: #f0f0f0;
    color: black;
  }
}

.results-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .edit-button {
    &:hover {
      background-color: #3533cd;
      color: white;
    }
  }
  .delete-button {
    &:hover {
      background-color: #3533cd;
      color: white;
    }
  }
}

.edit-description {
  max-width: 633px;
  display: flex;
  gap: 3px;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;

  input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 0.9rem;
    outline: none;
    min-width: 247px;

    &:focus {
      border-color: #007bff;
    }
  }

  button {
    padding: 7px 11px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:last-child {
      background-color: #6c757d;

      &:hover {
        background-color: #5a6268;
      }
    }
  }
}

.no-results {
  color: red;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
}

.modal-image {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 8px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.results-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #d4d3d2;
  font-size: 2rem;
  font-weight: bold;
}
