.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.home-title {
  font-size: 3rem;
  color: #b2cfdc;
  margin-bottom: 120px;
}

.home-button {
  font-size: 2rem !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  color: white !important;

  &:hover {
    color: #b2cfdc !important;
  }
}

.home-image {
  display: flex;
  justify-content: center;
}

.home-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Wysokość pełnego ekranu
  background-color: #254e72; // Dopasowanie koloru tła do reszty strony
  color: #b2cfdc; // Kolor tekstu
  font-size: 2rem; // Rozmiar tekstu
  font-weight: bold;
}

// Media queries dla mniejszych ekranów
@media (max-width: 768px) {
  .home-content {
    flex-direction: column-reverse;
  }

  .home-image {
    margin-bottom: 20px;
  }

  .home-title {
    font-size: 2rem;
  }

  .home-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
